
textarea {width:100%;height:70px;display:block;clear:both;background-color: #303030;
    border: medium none;color: #F2F2F2;padding: 15px;font-size:14px;
}
.preview-container {margin-bottom:20px;}
